.cont{
    display: flex;
    justify-content: center;
    align-items: center;
    height : 100vh;
}
.sty{
    background-color: black;
    color : wheat;
    padding : 10px ;
    font-size: 72px;
    border-radius: 8px;
}